<%- include('./partials/header.ejs') %>

<ul>
  <li>
    <a
      href="https://sparkforautism.org/?utm_source=bing&utm_medium=cpc&utm_term=%2Bautism%20%2Bhelp&utm_campaign=g-us-search-nb-autism-bmm&utm_content=&msclkid=31503ae174771e08bb586475f4764703"
      >The SPARK study: DNA study</a
    >
  </li>

  <li>
    <a
      href="https://www.autism-products.com/?keyword_session_id=vt~adwords%7Ckt~autism%20products%7Cmt~p%7Cta~&_vsrefdom=wordstream&msclkid=22980dbd1ebe13a9b4af53299eead6dd&utm_source=bing&utm_medium=cpc&utm_campaign=General%2FBranded&utm_term=autism%20products&utm_content=Autism%20Products"
      >Autism-Products</a
    >
  </li>

  <li>
    <a href="https://www.cdc.gov/ncbddd/autism/index.html">CDC Page</a>
  </li>

  <li>
    <a href="https://www.cdc.gov/ncbddd/autism/links.html">Other links</a>
  </li>
</ul>

<%- include("./partials/footer.ejs") %>
