
  <nav>
<strong>


     <a href="/dogs">View </a> | 
      <a href="/dogs/new">New journal Entry/a> 
          
      <% if (username) { %>
        |
        <a href="/users/<%= userId %>/journals">My entries</a>
      <% } %>
</strong>>   
  </nav>