<%- include('../partials/header.ejs') %>

  <%- include('./nav.ejs') %>


<H3> New journal entry </H3>



<form method="POST" action="/journals">

    <fieldset>

      <legend>Enter a new journal emotional event here</legend>

     <br> <div>
        <label for="title"></label>
        <input type="text" name="title" id="title" placeholder="Enter title" />
      </div>




     <br> <div>
<p>Date/Time: <span id="datetime"></span></p>

<script>
let dt = new Date();
document.getElementById("datetime").innerHTML = dt.toLocaleString();
</script>
      </div>



      <br><div>
        <label for="intro"></label>
        <input type="text" name="intro" id="intro" placeholder="Enter introduction" />
      </div>


        <br> <div>
        <label for="context"></label>
        <input type="text" name="context" id="context" placeholder="enter context" />
      </div>


      <br><div>
        <label for="climax"></label>
        <input type="text" name="climax" id="climax" placeholder="Enter the major emotional situation" />
      </div>


      <br><div>
        <label for="acceptance"></label>
        <input type="text" name="acceptance" id="acceptance" placeholder="Enter how you will get to acceptance of reality" />
      </div>


       <br> <div>
        <label for="conclusion"></label>
        <input type="text" name="conclusion" id="conclusion" placeholder="Concluding thoughts" />
      
      
      </div>
        

<label for="emoticon">How do you feel as you fill out this field?:</label>

<select name="emoticon" id="emoticon">
    <option value="">--Please choose an option--</option>
    <option value="happy">happy</option>
    <option value="sad">sad</option>
    <option value="neutral">neutral</option>
    <option value="depressed">depressed</option>
    <option value="anxious">anxious</option>

</select>




<br><br>
      <button>Add Entry</button>



    </fieldset>
  </form>




  <%- include('../partials/footer.ejs') %>