<%- include('../partials/header.ejs') %>

<%- include('./nav.ejs') %>
 <div class="box">
<div class="flex-container">


<H3> New journal entry </H3>

<form method="POST" action="/journals">
  <fieldset>
    <legend>Enter a new journal emotional event here</legend>
    <h2>Title for Journal Entry</h2>
    <br />
    <div>
      <label for="title"></label>
      <textarea
        name="title"
        id="title"
        rows="3"
        cols="50"
        placeholder="Enter introduction"
      ></textarea>
    </div>

    <br />
    <div>
      <h2>Date & time</h2>
      <p><span id="datetime"></span></p>

      <script>
        let dt = new Date();
        document.getElementById("datetime").innerHTML = dt.toLocaleString();
      </script>
    </div>

    <br />

    <div>
      <h3>Introduction:</h3>
      <label for="intro"></label>
      <textarea
        name="intro"
        id="intro"
        rows="4"
        cols="50"
        placeholder="Enter introduction"
      ></textarea>
    </div>
    <br />

    <label for="emoticon">How do you feel as you think about this?:</label>

    <select name="emoticonIntro" id="emoticon">
      <option value="">--Please choose an option--</option>
      <option value="happy">happy</option>
      <option value="sad">sad</option>
      <option value="neutral">neutral</option>
      <option value="depressed">depressed</option>
      <option value="anxious">anxious</option>
    </select>

    <br />

    <div>
      <h3>Context:</h3>

      <label for="context"></label>
      <textarea
        name="context"
        id="context"
        rows="4"
        cols="50"
        placeholder="Enter context"
      ></textarea>
    </div>
    <br />

    <label for="emoticon">How do you feel as you fill out this field?:</label>

    <select name="emoticonContext" id="emoticon">
      <option value="">--Please choose an option--</option>
      <option value="happy">happy</option>
      <option value="sad">sad</option>
      <option value="neutral">neutral</option>
      <option value="depressed">depressed</option>
      <option value="anxious">anxious</option>
    </select>

    <br />

    <div>
      <h3>Emotional Climax:</h3>
      <label for="climax"></label>
      <textarea
        name="climax"
        id="climax"
        rows="7"
        cols="50"
        placeholder="What was the high point of emotional intensity? Describe it in as much detail as possible. "
      ></textarea>
    </div>
    <br />
    <label for="emoticon">How do you feel as you fill out this field?:</label>
    <select name="emoticonClimax" id="emoticon">
      <option value="">--Please choose an option--</option>
      <option value="happy">happy</option>
      <option value="sad">sad</option>
      <option value="neutral">neutral</option>
      <option value="depressed">depressed</option>
      <option value="anxious">anxious</option>
    </select>

    <br />

    <br />
    <br />

    <div>
      <h3>Plan for acceptance:</h3>
      <label for="acceptance"></label>
      <textarea
        name="aceptance"
        id="aceptance"
        rows="10"
        cols="50"
        placeholder="Enter how you plan to get to acceptance."
      ></textarea>
    </div>
    <br />
    <br />
    <label for="emoticon">How do you feel as you fill out this field?:</label>

    <select name="emoticon" id="emoticon">
      <option value="">--Please choose an option--</option>
      <option value="happy">happy</option>
      <option value="sad">sad</option>
      <option value="neutral">neutral</option>
      <option value="depressed">depressed</option>
      <option value="anxious">anxious</option>
    </select>

    <br /><br />

    <br />
    <div>
      <textarea
        for="conclusion"
        id="conclusion"
        rows="7"
        cols="50"
        placeholder="Enter concluding thoughts."
      ></textarea>
    </div>

    <br />
    <label for="emoticon">How do you feel as you fill out this field?:</label>

    <select name="emoticon" id="emoticon">
      <option value="">--Please choose an option--</option>
      <option value="happy">happy</option>
      <option value="sad">sad</option>
      <option value="neutral">neutral</option>
      <option value="depressed">depressed</option>
      <option value="anxious">anxious</option>
      <option value="happy2">&#128512;</option>
<option value="happy2">&#128512;</option>
<option value="happy2">&#128513;</option>
<option value="happy2">&#128514;</option>
<option value="happy2">&#128515;</option>
<option value="happy2">&#128516;</option>
<option value="happy2">&#128517;</option>
<option value="happy2">&#128518;</option>
<option value="happy2">&#128519;</option>
<option value="happy2">&#128520;</option>
<option value="happy2">&#128521;</option>
<option value="happy2">&#128522;</option>
<option value="happy2">&#128523;</option>
<option value="happy2">&#128524;</option>
<option value="happy2">&#128525;</option>
<option value="happy2">&#128526;</option>
<option value="happy2">&#128527;</option>
<option value="happy2">&#128528;</option>
<option value="happy2">&#128529;</option>
<option value="happy2">&#128530;</option>
<option value="happy2">&#128531;</option>
<option value="happy2">&#128524;</option>
<option value="happy2">&#128525;</option>
<option value="happy2">&#128526;</option>
<option value="happy2">&#128527;</option>
<option value="happy2">&#128528;</option>
<option value="happy2">&#128529;</option>
<option value="happy2">&#128530;</option>
<option value="happy2">&#128531;</option>
<option value="happy2">&#128532;</option>
<option value="happy2">&#128533;</option>
<option value="happy2">&#128534;</option>
<option value="happy2">&#128535;</option>
<option value="happy2">&#128536;</option>
<option value="happy2">&#128537;</option>
<option value="happy2">&#128538;</option>
<option value="happy2">&#128539;</option>
<option value="happy2">&#128540;</option>
<option value="happy2">&#128541;</option>
<option value="happy2">&#128542;</option>
<option value="happy2">&#128543;</option>
<option value="happy2">&#128544;</option>
<option value="happy2">&#128545;</option>
<option value="happy2">&#128546;</option>
<option value="happy2">&#128547;</option>
<option value="happy2">&#128548;</option>
<option value="happy2">&#128549;</option>
<option value="happy2">&#128550;</option>
<option value="happy2">&#128551;</option>
<option value="happy2">&#128552;</option>
<option value="happy2">&#128553;</option>
<option value="happy2">&#128554;</option>
<option value="happy2">&#128555;</option>
<option value="happy2">&#128556;</option>
<option value="happy2">&#128557;</option>
<option value="happy2">&#128558;</option>
<option value="happy2">&#128559;</option>
<option value="happy2">&#128560;</option>
<option value="happy2">&#128561;</option>
<option value="happy2">&#128562;</option>
<option value="happy2">&#128563;</option>
<option value="happy2">&#128564;</option>
<option value="happy2">&#128565;</option>
<option value="happy2">&#128566;</option>
<option value="happy2">&#128567;</option>
<option value="happy2">&#128568;</option>
<option value="happy2">&#128569;</option>
<option value="happy2">&#128570;</option>
<option value="happy2">&#128571;</option>
<option value="happy2">&#128572;</option>
<option value="happy2">&#128573;</option>
<option value="happy2">&#128574;</option>
<option value="happy2">&#128575;</option>
<option value="happy2">&#128576;</option>
<option value="happy2">&#128577;</option>
<option value="happy2">&#128578;</option>
<option value="happy2">&#128579;</option>
<option value="happy2">&#128580;</option>




    </select>

    <br /><br />
    <button>Add Entry</button>
  </fieldset>
</form>


</div>

</div>
<%- include('../partials/footer.ejs') %>
