<%- include('../partials/header.ejs') %>

  <%- include('./nav.ejs') %>


<H3> New journal entry </H3>



<form method="POST" action="/journals">
    <fieldset>
      <legend>Enter a new journal emotional event here</legend>
      <div>
        <label for="title"></label>
        <input type="text" name="name" id="name" placeholder="Enter dog's name" />
      </div>
      <div>
        <label for="date"></label>
        <input type="datetime-local" name="age" id="age" placeholder="Enter dog's age" />
      </div>
      <div>
        <label for="intro"></label>
        <input type="text" name="breed" id="breed" placeholder="Enter dog's breed" />
      </div>
         <div>
        <label for="context"></label>
        <input type="text" name="name" id="name" placeholder="Enter dog's name" />
      </div>
      <div>
        <label for="climax"></label>
        <input type="number" name="age" id="age" placeholder="Enter dog's age" />
      </div>
      <div>
        <label for="acceptance"></label>
        <input type="text" name="breed" id="breed" placeholder="Enter dog's breed" />
      </div>

        <div>
        <label for="conclusion"></label>
        <input type="text" name="breed" id="breed" placeholder="Enter dog's breed" />
      </div>
        



      <button>Add Entry</button>



    </fieldset>
  </form>




  <%- include('../partials/footer.ejs') %>