<%- include('../partials/header.ejs') %>

  <%- include('./nav.ejs') %>


<H3> New journal entry </H3>



<form method="POST" action="/journals">

    <fieldset>

      <legend>Enter a new journal emotional event here</legend>

     <br> <div>
        <label for="title"></label>
        <input type="text" name="title" id="title" placeholder="Enter title" />
      </div>




     <br> <div>
<p>Date/Time: <span id="datetime"></span></p>

<script>
let dt = new Date();
document.getElementById("datetime").innerHTML = dt.toLocaleString();
</script>
      </div>



      <br>
      
      <div>
        <h3>Introduction:</h3>
        <textarea for ="intro" id="intro" rows="4" cols="50" placeholder="Enter introduction">
</textarea>
      </div>



<label for="emoticon">How do you feel as you think about this?:</label>

<select name="emoticon" id="emoticon">
    <option value="">--Please choose an option--</option>
    <option value="happy">happy</option>
    <option value="sad">sad</option>
    <option value="neutral">neutral</option>
    <option value="depressed">depressed</option>
    <option value="anxious">anxious</option>

</select>



        <br> <div>
               <textarea for ="context" id="context" rows="4" cols="50" placeholder="Enter context">
</textarea>
      </div>


<label for="emoticon">How do you feel as you fill out this field?:</label>

<select name="emoticon" id="emoticon">
    <option value="">--Please choose an option--</option>
    <option value="happy">happy</option>
    <option value="sad">sad</option>
    <option value="neutral">neutral</option>
    <option value="depressed">depressed</option>
    <option value="anxious">anxious</option>

</select>




      <br><div>
        <label for="climax"></label>
        <input type="text" name="climax" id="climax" placeholder="Enter the major emotional situation" />
      </div>

<label for="emoticon">How do you feel as you fill out this field?:</label>

<select name="emoticon" id="emoticon">
    <option value="">--Please choose an option--</option>
    <option value="happy">happy</option>
    <option value="sad">sad</option>
    <option value="neutral">neutral</option>
    <option value="depressed">depressed</option>
    <option value="anxious">anxious</option>

</select>





      <br><div>
                <textarea for ="aceptance" id="aceptance" rows="4" cols="50" placeholder="Enter how you plan to get to acceptance.">
</textarea>
      </div>


<label for="emoticon">How do you feel as you fill out this field?:</label>

<select name="emoticon" id="emoticon">
    <option value="">--Please choose an option--</option>
    <option value="happy">happy</option>
    <option value="sad">sad</option>
    <option value="neutral">neutral</option>
    <option value="depressed">depressed</option>
    <option value="anxious">anxious</option>

</select>



       <br> <div>
        <label for="conclusion"></label>
        <input type="text" name="conclusion" id="conclusion" placeholder="Concluding thoughts" />
      
      
      </div>
        

<label for="emoticon">How do you feel as you fill out this field?:</label>

<select name="emoticon" id="emoticon">
    <option value="">--Please choose an option--</option>
    <option value="happy">happy</option>
    <option value="sad">sad</option>
    <option value="neutral">neutral</option>
    <option value="depressed">depressed</option>
    <option value="anxious">anxious</option>

</select>




<br><br>
      <button>Add Entry</button>



    </fieldset>
  </form>




  <%- include('../partials/footer.ejs') %>