<%- include('./partials/header.ejs') %>

<div class="container p-pb-2">
  <h3>Welcome to the journalA</h3>

  <% if(currentMood !== undefined) { %>
  <p>You were most recently feeling: <%= currentMood %></p>
  <% } %>

  <strong> <a href="/journals/new"> add a new entry </a> </strong>
</div>

<%- include('./partials/footer.ejs') %>
