<%- include('./partials/header.ejs') %>


  <h3>Welcome to the journalA </h3>

  <%
    if(currentMood !== undefined) {
      %>
        <p>You were most recently feeling: <%= currentMood %></p>
      <% 
    }
  %>

  <strong> <a href='/journals/new'> add a new entry </a> </strong>
<br>

  <br> 



  
<%- include('./partials/footer.ejs') %>