body {
    background-color: whitesmoke; 
    font-family: 'Old Standard TT', serif;
    background-image: url("https://st2.depositphotos.com/1036506/8509/i/950/depositphotos_85093138-stock-photo-old-dirty-paper-backdrop-with.jpg");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}


header, footer {
justify-content: center; 
}


.flex-container {
  display: flex;
justify-content: center; 
align-items: left; 
}



.box {
justify-content: center; 
}